<p-dialog header="Detalle del pokemón" [(visible)]="visible" [modal]="true" [draggable]="false"
    [style]="{width: '50vw'}">
    <span>{{nombre}}</span>
    <p-card header="Nombre">
        <span>{{nombre}}</span>
    </p-card>
</p-dialog>