<div class="container mt-3 ml-4 mr-4" >

    <p-fieldset legend="Selecciona tu pokemón">
        <div class="grid" style="text-align: center;">
            <div class="col-6">
                <p-button class="sivale-button" severity="success" (onClick)="clicAnterior()" [disabled]="anterior == null">
                    Anterior
                </p-button>
            </div>
            <div class="col-6"  >
                <p-button severity="success" (onClick)="clicSiguiente()"  [disabled]="siguiente == null">
                    Siguiente
                </p-button>
            </div>
        </div>
        <div class="grid">
            <div class="flex flex-wrap column-gap-3 row-gap-5 mt-5 px-2 col-3" *ngFor="let item of listaPokemon;">
                <p-chip styleClass="pl-0 pr-3" >
                    <span class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center">P</span>
                    <p-button class="ml-2 font-medium color-custom" (onClick)="obtenerPokemon(item.url)">{{item.name}}</p-button>
                </p-chip>
            </div>
        </div>
        
        
    </p-fieldset>

    <app-detalle-pokemon [pokemon]="pokemonActual">

    </app-detalle-pokemon>
</div>