
::ng-deep .p-button {
    background:  transparent !important;
    color: black;
    border-color: transparent;
    
}

::ng-deep .p-button-success {
    background: #22C55E !important;
    color: black;
    border-color: transparent;
    
}