::ng-deep .p-menubar{
    border-radius: 0px;
    background: var( --principal);
    color: orange;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -0.1%;
}
.menu-start {
    display: flex;
    align-items: center;
}

::ng-deep .p-menubar .menu-button .p-button-icon {
    font-size: 1.6rem;
}