<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img src="../../../assets/Sv_logo1.svg" height="40" class="mr-2" />
        </ng-template>
        <ng-template pTemplate="end">
            <div><span>{{now}}</span></div>
        </ng-template>
    </p-menubar>
</div>

