
<div class="grid-container">
 
    <div class="grid-content">
        <div class="grid-header">
            <app-header></app-header>
        </div>
        <div class="grid ">
            <div id="outlet" class="col-12" >
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
  
  </div>